@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './overrides.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
}

.btn,
input[type='search'] {
  border-radius: 27px;
  height: 54px;
  border: 2px solid #2d2e34;
  font-size: 20px;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.card {
  background-color: #f0f1f4;
}

ul {
  list-style-type: none;
  padding-left: 0;
  li {
    margin-bottom: 16px;
    font-size: 18px;
    &:before {
      content: '\F26A';
      font-family: bootstrap-icons !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -0.125em;
      margin-right: 11px;
    }
  }
}

select.form-select {
  background-size: 22px 22px;
  padding-right: 30px;
  border-radius: 10px;
  border: 2px solid #2d2e34;
}
